.product-standard-list {
	width: auto;
	height: auto;
	display: inline-block;
}

.product-standard-list ul {
	list-style: none;
}

.product-standard-list ul li {
	width: auto;
	display: inline-block;
	border: 1px solid #D58512;
	border-radius: 2px;
	padding: 3px;
	margin-left: 5px;
}

.product-standard-list ul li:hover {
	cursor: pointer;
}

.standard-price-list {
	width: auto;
	height: auto;
	display: inline-block;
}

.standard-price-list ul {
	list-style: none;
}

.standard-price-list ul li {
	width: auto;
	display: inline-block;
	margin-left: 5px;
}

.standard-price-list label {
	width: auto;
	padding: 3px;
	border: 1px solid #D58512;
	border-radius: 2px;
}

.standard-price-list input {
	width: 60px;
}

.standard-price-input {
	width: 60px;
}

.standard-dialog label,input {
	display: inline-block;
}

.hidden {
	display: none;
}

.product-imgs {
	width: 88px;
	height: 30px;
	border: 1px solid #D58512;
	border-radius: 3px;
}

.product-imgs span {
	line-height: 30px;
	margin-left: 20px;
}

.product-imgs input[type="file"] {
	position: absolute;
	width: 80px;
	height: 30px;
	opacity: 0;
}

.product-imgs-list {
	width: auto;
	height: auto;
	overflow: scroll;
	margin-left: 120px;
	margin-bottom: 10px;
}

.product-imgs-list ul {
	list-style: none;
	padding: 0;
}

.product-imgs-list ul li {
	display: inline-block;
	margin-right: 5px;
}

.product-imgs-list img {
	width: 90px;
	height: 90px;
}
